/* Section Form */
.section-form {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section-form h1 {
  font-size: 36px;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
}
.task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  background-color: var(--color-beige);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  border-radius: 8px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.container-input {
  display: flex;
  width: 100%;
}
.input-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
  width: 100%;
}

/* Section Resume Activies */
.section-resume-task {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--color-beige);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
  max-height: 488px;
}
.section-resume-task h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  padding-bottom: 16px;
}
.container-resume-task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

app-container-card-list,
app-input-form {
  width: 100%;
}

@media (max-width: 768px) {
  .container-input {
    flex-direction: column;
  }
  .section-resume-task {
    max-height: 1080px;
    padding: 8px 16px;
  }
  .container-resume-task {
    flex-direction: column;
  }
  .section-resume-task h2 {
    font-size: 20px;
  }
  app-container-card-list {
    max-height: 304px;
  }
}
