<main>
  <section class="section-form">
    <h1>Quadro de atividades</h1>
    <form class="task-form" (ngSubmit)="handleSubmitTask()" #taskForm="ngForm">
      <div class="container-input">
        <po-input
          [(ngModel)]="title"
          name="title"
          p-label="Título"
          p-placeholder=" Digite o título da atividade"
          class="po-lg-12 input-form"
        ></po-input>
        <po-input
          [(ngModel)]="description"
          name="description"
          p-label="Descrição"
          p-placeholder="Digite a descrição da atividade"
          class="po-lg-12 input-form"
        ></po-input>
      </div>
      <po-button
        p-label="Adicionar atividade"
        (p-click)="handleShowAlert()"
        (p-click)="handleSubmitTask()"
        class="button-form po-lg-12"
      ></po-button>
    </form>
  </section>

  <section class="section-resume-task">
    <h2>Resumo de atividades</h2>

    <div class="container-resume-task">
      <app-container-card-list
        [title]="'Não iniciadas'"
        [className]="'one'"
        [tasks]="notStartedTasks"
        (notStarted)="handleNotStartedTask($event)"
        (inProgress)="handleInProgressTask($event)"
        (finished)="handleFinishedTask($event)"
        (remove)="handleRemoveTask($event)"
        cdkDropList
        #notStarted="cdkDropList"
        [cdkDropListData]="notStartedTasks"
        [cdkDropListConnectedTo]="[inProgress, finished]"
        (cdkDropListDropped)="handleDrop($event)"
      >
      </app-container-card-list>

      <app-container-card-list
        [title]="'Iniciadas'"
        [tasks]="inProgressTasks"
        [className]="'two'"
        (notStarted)="handleNotStartedTask($event)"
        (inProgress)="handleInProgressTask($event)"
        (finished)="handleFinishedTask($event)"
        (remove)="handleRemoveTask($event)"
        cdkDropList
        #inProgress="cdkDropList"
        [cdkDropListData]="inProgressTasks"
        [cdkDropListConnectedTo]="[notStarted, finished]"
        (cdkDropListDropped)="handleDrop($event)"
      >
      </app-container-card-list>

      <app-container-card-list
        [title]="'Concluidas'"
        [tasks]="finishedTasks"
        [className]="'three'"
        (notStarted)="handleNotStartedTask($event)"
        (inProgress)="handleInProgressTask($event)"
        (finished)="handleFinishedTask($event)"
        (remove)="handleRemoveTask($event)"
        cdkDropList
        #finished="cdkDropList"
        [cdkDropListData]="finishedTasks"
        [cdkDropListConnectedTo]="[inProgress, notStarted]"
        (cdkDropListDropped)="handleDrop($event)"
      >
      </app-container-card-list>
    </div>
  </section>
</main>
