* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-white: #fdfdfd;
  --color-white-card: #ffffff;

  --color-beige: #f5f0ea;
  --color-beige-card: #faeee1;

  --color-green-300: #6a8765;
  --color-hover-green-300: #5a7655;
  --color-black: #1e1e1e;
  --color-delete: #fa5d5d;

  --color-placeholder: #aaaaaa;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 32px 16px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-container-card-list,
app-input-form {
  width: 100%;
}

.input-form input.po-input {
  --color: var(--color-green-300);
  --text-color-placeholder: var(--color-placeholder);
  --text-color: var(--color-black);

  --outline-color-focused: var(--color-green-300);

  --background: var(--color-white);
  --background-hover: var(--color-white);
}

po-input po-field-container {
  width: 100%;
}
po-button.button-form {
  --color: var(--color-white);
  --border-color-hover: var(--color-white);
  --background-color: var(--color-green-300);
  --background-hover: var(--color-hover-green-300);
  --background-pressed: var(--color-hover-green-300);
  --outline-color-focused: transparent;

  --font-weight: 500;
  --border-radius: 8px;
  --border-width: 0;
}
