* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-lilac-100: #fcfcfc;
  --color-lilac-300: #f2eaf6;
  --color-lilac-600: #8241a4;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 32px 16px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-container-card-list,
app-input-form {
  width: 100%;
}
